<div class="page-header">
    <h4 class="header-text">Olá</h4>
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="widget p-15 h-100">
            <div>
                <div class="col">
                    <i class="pe-7s-user text-primary f-35"></i>
                </div>
                <div class="col f-25">30</div>
            </div>
            <div class="f-15 p-5">
                Total de Ocorrências Iniciadas

            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget p-15 h-100">
            <div>
                <div class="col">
                    <i class="pe-7s-clock text-warning f-35"></i>
                </div>
                <div class="col f-25">15</div>
            </div>
            <div class="f-15 p-5">
             Total de corrências Aguardando

            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget p-15 h-100">
            <div>
                <div class="col">
                    <i class="pe-7s-bell text-info f-35"></i>
                </div>
                <div class="col f-25">8</div>
            </div>
            <div class="f-15">
                Total de Ocorrência Finalizada

            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget p-15 h-100">
            <div>
                <div>
                    <div class="f-15 col">
                      Ocorrências em Aberto

                    </div>
                    <div class="f-12 col pull-right">
                        7

                    </div>
                </div>

            </div>
            <div class="m-t-10 f-13">
                <a class="text-primary" href="">Ver Ocorrências</a>
            </div>
        </div>
    </div>

</div>

<div class="callout callout-primary">
    <h4>Box Widgets</h4>
    <p>
        Box Widgets are predefiend containers for showing your data in an elegant way.
    </p>
    <p>
        With powerful helper classes widgets are available in infinit sizes and shapes and colors and are capable of displaying all kind of data.
    </p>
</div>